{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Comprehension Questions for Part 2 (Phase 1)
{% endblock %}

{% block content %}

<p>
    We will now ask you a few questions regarding the decisions you will make in the experiment. These questions will
    help you understand the calculation of your earnings and ensure you have understood the instructions. Once everyone
    has answered all questions correctly we will begin the experiment.
</p>
{% if treatment != "equality" %}
    {% if treatment == "skills" %}
    <p>
        <b>Question 1.</b> Suppose in Part 1, each member in a group successfully encoded the following number of words correctly.
        Member 1 correctly encoded 15 words. Member 2 correctly encoded 8 words. Member 3 correctly encoded 12 words.
        Member 4 correctly encoded 17 words. (<i>Note: these numbers are just an example and should not be taken as an indication
        about the actual number of words encoded by your group members.</i>)
    </p>
    <p>
        Suppose Types are assigned based on relative performance in the task. In the boxes below, click the assigned role of
        each member in Part 2.
    </p>
    {% formfield player.comp1a %}
    {% formfield player.comp1b %}
    {% formfield player.comp1c %}
    {% formfield player.comp1d %}
    {% endif %}
    <p>
        <b>Question {% if treatment == "skills" %}2{% else %}1{% endif %}.</b>
        How many tokens are each Type A group member endowed with in each round?
    </p>
    {% formfield player.comp2 %}
    <p>
        <b>Question {% if treatment == "skills" %}3{% else %}2{% endif %}.</b>
        How many tokens are each Type B group member endowed with in each round?
    </p>
    {% formfield player.comp3 %}

    <p>
        <b>Question {% if treatment == "skills" %}4{% else %}3{% endif %}.</b>
        Suppose you are assigned to Type A. Further, suppose all four group members allocate 0 tokens to the group account.
    </p>
    {% formfield player.comp4a %}
    {% formfield player.comp4b %}
    <p>
        <b>Question {% if treatment == "skills" %}5{% else %}5{% endif %}.</b>
        For this question, you can use the calculator on your device.
        Suppose you are assigned to Type B. Further, suppose the 3 other group members allocate 90 tokens
        in total to the group account.
    </p>
    {% formfield player.comp5a %}
    {% formfield player.comp5b %}
    {% formfield player.comp5c %}
{% else %}
    <p>
        <b>Question 1.</b>
    </p>
    {% formfield player.comp6 %}
    <p>
        <b>Question 2.</b> Suppose all four group members allocate 0 tokens to the group account.
    </p>
    {% formfield player.comp7a %}
    {% formfield player.comp7b %}
    <p>
        <b>Question 3.</b> Suppose the 3 other group members allocate 90 tokens in total to the group account.
    </p>
    {% formfield player.comp8a %}
    {% formfield player.comp8b %}
    {% formfield player.comp8c %}
{% endif %}

{% next_button %}

{% endblock %}


