{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Comprehension Questions for Part 2 (Phase 1)
{% endblock %}

{% block content %}

<p>
    We will now ask you a few questions regarding Phase 2. These questions will
    help you understand the calculation of your earnings and ensure you have understood the instructions. Once everyone
    has answered all questions correctly we will begin Phase 2.
</p>
<p>
    <b>Question 1.</b> {% formfield player.comp9 %}
</p>
<p>
    <b>Question 2.</b> {% formfield player.comp10 %}
</p>
<p>
    <b>Question 3.</b>
</p>
{% formfield player.comp11 %}
<p>
    <b>Question 4.</b>
</p>
{% formfield player.comp12 %}
<p>
    <b>Question 5.</b>
</p>
{% formfield player.comp13 %}
<p>
    <b>Question 6.</b>
</p>
{% formfield player.comp14 %}
{% if treatment != "equality" %}
    <p>
        <b>Question 7.</b> Suppose you were assigned Type A at the beginning of Part 2. Further, suppose you allocate 20 tokens
        to your private account and 60 tokens to the group account.
    </p>
{% else %}
    <p>
        <b>Question 7.</b> Suppose you allocate 20 tokens to the private account and 30 tokens to the group account.
    </p>
{% endif %}
{% formfield player.comp15a %}
{% formfield player.comp15b %}

{% next_button %}

{% endblock %}


