{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction to Part 2 (Phase 1)
{% endblock %}

{% block content %}

<p>
    After all individuals make their decisions, you will be informed of the total allocation to the group account and
    your individual earnings in tokens from the round. You will not be informed of the individual allocation decisions or
    earnings of the other members of your group.
</p>
<p>
    At the beginning of each round, you will receive a fresh endowment of tokens
    {% if treatment != "equality" %}
    (same in each round depending on your Type).
    {% else %}
    (same in each round).
    {% endif %}
    The same process will be repeated for a total of 4 rounds in this Phase.
</p>
<p>
    You will be paid your earnings from all 4 decision rounds in this Phase.
</p>

{% next_button %}

{% endblock %}


