{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction to Part 2 (Phase 2)
{% endblock %}

{% block content %}

<p>
    We completed Phase 1 and will now begin Phase 2, which also consists of 4 decision rounds.
</p>
<p>
    Phase 2 is essentially the same as Phase 1, except that all members decide on a <b>rule for imposing fines</b> before
    making the first allocation decision. This fine will apply to tokens allocated to the private account only. It will
    not apply to tokens allocated to the group account.
</p>
<p>
    In particular, you will stay in the same group as in Phase 1. Phase 2 consists of 4 rounds in which you and the
    other group members each decide on the allocation of your endowment of tokens to the group account and the private
    account, exactly as in Phase 1. However, before group members make their first allocation decision they hold a vote,
    and the outcome of the vote is binding for the rest of Phase 2. The vote determines whether group members pay a fine
    on tokens allocated to the private account, and if so, what the fine will be.
</p>

{% next_button %}

{% endblock %}


