{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction to Part 2
{% endblock %}

{% block content %}

{% if treatment == "skills" %}
    <p>
        The top two performers in Part 1 (i.e. the two group members who correctly
        encoded the most words) will be Type-A. The other two group members will be Type-B.
    </p>
    <p>
        Type-A participants will receive an endowment of 80 tokens in each round of Part 2, and Type-B participants
        will receive an endowment of 20 tokens in each round of Part 2.
    </p>
{% elif treatment == "luck" %}
    <p>
        Two group members chosen randomly will be Type-A. The other two group members will be Type-B.
    </p>
    <p>
        Type-A participants will receive an endowment of 80 tokens in each round of Part 2, and Type-B participants
        will receive an endowment of 20 tokens in each round of Part 2.
    </p>
{% elif treatment == "uncertain" %}
    <p>
        There are two different ways in which group members could be assigned to a type, Type-A or Type-B. With 50%
        chance, assignment to Types in your group will be based on the relative performance of your group members in
        Part 1 and with 50% chance, assignment to Types will be due to pure luck.
    </p>
    <p>
        <b>(1) Based on performance:</b> The top two performers in Part 1 (i.e. the two group members who correctly
        encoded the most words) will be Type-A. The other two group members will be Type-B.
    </p>
    <p>
        <b>(2) Based on luck:</b> Two group members chosen randomly will be Type-A. The other two
        group members will be Type-B.
    </p>
    <p>
        <b>You will not be informed which of the above two ways (relative performance or luck) were used to determine Types
            in your group.</b>
    </p>
    <p>
        Regardless of how the Types are assigned, Type-A participants will receive an endowment of 80 tokens
        in each round of Part 2, and Type-B participants will receive an endowment of 20 tokens in each round of Part 2.
    </p>
{% endif %}

{% next_button %}

{% endblock %}


