{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction to Part 2
{% endblock %}

{% block content %}

<p>
    In Part 2, there are five Phases with four decision rounds each. You will receive instructions for each Phase at the
    beginning of the Phase.
</p>
<p>
    Recall that you are a member of a group of four, i.e. you are in a group with three other members.
    {% if treatment != "equality" %}
    Each group has two members of Type A (endowment = 80) and two members of Type B (endowment = 20).
    You will be informed of your Type and your endowment at the beginning of Phase 1.
    <b>Your Type and group of four will be the same throughout the experiment.</b>
    {% else %}
    <b>Your group of four will be the same throughout the experiment.</b>
    {% endif %}
</p>
<p>
    <b><u>Phase 1</u></b>
</p>
<p>
    There are 4 decision rounds in Phase 1. In each decision round in Part 2, all group members will simultaneously
    make an <b>allocation decision</b>.
</p>
<p>
    The task of each group member is to allocate his/her endowment of tokens between his/her
    private account and the group account. Each token not allocated to the group account will be automatically allocated
    to members' private accounts.
</p>

{% next_button %}

{% endblock %}


