{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction to Part 2
{% endblock %}

{% block content %}

<p>
    <b>At the beginning of Part 2, participants will be randomly divided into groups of four (4) individuals.</b>
    The composition of the groups will remain the same throughout Part 2. This means that you will interact with the
    same people in your group throughout the rest of the experiment. However, you will not be informed of the identity
    of the others in your group. The other group members will never be informed of your identity.
</p>

{% next_button %}

{% endblock %}


