{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction to Part 2 (Phase 1)
{% endblock %}

{% block content %}

{% if treatment != "equality" %}
<p>
    <b><u>Example 1</u></b>
</p>
<p>
    Suppose you are assigned Type A (80-token endowment) at the beginning of Part 2. One other member of your group is
    also Type A (also 80-token endowment), and the other two members are Type B (20-token endowments each).
</p>
<p>
    Suppose you allocate 35 tokens of your 80-token endowment to the group account. Further, suppose that the other Type
    A member allocates 49 tokens to the group account, one Type B member allocates 18 tokens to the group account, and
    the other Type B member allocates 0 tokens to the group account. In this case, the sum of tokens in the group account
    is (35+49+18+0) = 102 tokens. All group members receive an income of 0.4*102 = 40.8 tokens from the group account.
</p>
<ul>
    <li>Your earnings are: (80 - 35) + (0.4 * 102) = 45 + 40.8 = 85.8 tokens</li>
    <li>The other Type A member's earnings are: (80 - 49) + (0.4 * 102) = 31 + 40.8 = 71.8 tokens</li>
    <li>One Type B member's earnings are: (20 - 18) + (0.4 * 102) = 2 + 40.8 = 42.8 tokens</li>
    <li>The other Type B member's earnings are: (20 - 0) + (0.4 * 102) = 20 + 40.8 = 60.8 tokens</li>
</ul>
{% else %}
<p>
    <b><u>Example 1</u></b>
</p>
<p>
    Suppose you allocate 35 tokens of your endowment to the group account. Further, suppose that one member allocates
    49 tokens to the group account, one member allocates 18 tokens to the group account, and the other member allocates
    0 tokens to the group account. In this case, the sum of the tokens in the group account is (35+49+18+0) = 102 tokens.
    All group members receive an income of 0.4*102 = 40.8 tokens from the group account.
</p>
<ul>
    <li>Your earnings are: (50 - 35) + (0.4 * 102) = 15 + 40.8 = 55.8 tokens</li>
    <li>One member's earnings are: (50 - 49) + (0.4 * 102) = 1 + 40.8 = 41.8 tokens</li>
    <li>Another member's earnings are: (50 - 18) + (0.4 * 102) = 32 + 40.8 = 72.8 tokens</li>
    <li>The other member's earnings are: (50 - 0) + (0.4 * 102) = 50 + 40.8 = 90.8 tokens</li>
</ul>
{% endif %}

{% next_button %}

{% endblock %}


