{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction to Part 2
{% endblock %}

{% block content %}

<p>
    <b>At the beginning of Part 2, participants will be randomly divided into groups of four (4) individuals.</b>
    The composition of the groups will remain the same throughout Part 2. This means that you will interact with the
    same people in your group throughout the rest of the experiment.
</p>
<p>
    There will be several decision rounds in Part 2. At the beginning of each round, each group member receives an
    endowment of tokens.
</p>
{% if treatment != "equality" %}
    <p>
        There will be two types of members in each group - Type A and Type B. Of the four members of each group, two will
        be Type A and two will be Type B.
    </p>
    <p>
        <b>Type A group members will receive an endowment of 80 tokens in each round, while Type B group
            members will receive an endowment of 20 tokens in each round.</b>
    </p>
{% else %}
    <p>
        Group members will receive an endowment of 50 tokens in each round.
    </p>
{% endif %}

{% next_button %}

{% endblock %}


