{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 1 - Instructions
{% endblock %}

{% block content %}

<style>
    #letter-table {
        width: 100%
    }
</style>

<p>
    In Part 1, all participants will perform the same encoding task.
</p>
<p>
    You will be presented with a set of three letters that form "words" with no specific meaning.
</p>
<p>
    You will also be shown a table with numbers corresponding to each letter of the alphabet.
</p>
<p>
    Your task is to encode the set of three letters by substituting them with numbers from the table.
</p>
<img src="{% static 'img/table.jpg' %}" id = "letter-table"/>
<br>
<br>
<p>
    <i><b>Example:</b> You are given the word LFA. The Table shows that L=3, F=6, and A=8. So you should enter "3", "6",
    and "8" in the relevant boxes using your keyboard.</i>
</p>
<p>
    Once you submit a code, the computer will prompt you with another word.
</p>
<p>
    <b>You will have 3 minutes to encode as many words as you can.</b> For each word you correctly encode, you will
    receive a 30 token bonus payment. There is no penalty for incorrect submissions.
</p>
<p>
    <b>
        You will get to see how many words you encoded correctly and your bonus payment from Part 1 at the end of the study.
    </b>
</p>
<p>
    <b>
        Ready to start the word encoding task?
    </b>
</p>

{% next_button %}

{% endblock %}
