{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction to Part 1
{% endblock %}

{% block content %}

<style>
    #letter-table {
        width: 100%
    }
</style>

<p>
    In Part 1, all participants will perform a encoding task. The task is the same for everyone. You will be presented
    with a set of letters that form "words" with no specific meaning, and your task will be to encode these letters
    by substituting them with numbers using the Table located permanently at the top of your computer screen, as seen
    in the figure below.
</p>
<img src="{% static 'img/table.jpg' %}" id = "letter-table"/>
<br>
<br>
<p>
    <b>Example:</b> You are given the word LFATZ. The Table shows that L=3, F=6, A=8, T=19, and Z=15.
</p>
<p>
    Once you encode a word correctly, the computer will prompt you with another word to encode. Once you encode that
    word, you will be given another word, and so on. <b>You will have 5 minutes to encode as many words as you can.</b>
    For each word you correctly encode, you will receive £0.10.
</p>
<p>
    <b>You will be informed of the number of words correctly encoded by you, and your earnings from Part 1, after both
    Parts of the experiment are completed.</b> You will not receive any information on the number of words encoded
    by any other participants. If you have any questions, please raise your hand.
</p>

{% next_button %}

{% endblock %}
