{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Study Overview
{% endblock %}

{% block content %}

<p>
    The study consists of <b>multiple parts</b>. The instructions for <b>Part 1</b> are given here. You will receive
    instructions for other parts as you proceed.
</p>
<p>
    In each Part, you will earn bonus payments <b>in tokens</b>. At the end of the study, tokens you earn will convert
    to cash at the rate of <b>300 tokens = £1.00</b>. On average, you can expect to make another £5.00 in bonus payment
    on top of the guaranteed £5.00 payment.
</p>

{% next_button %}

{% endblock %}
