{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 1
{% endblock %}

{% block content %}

<style>
    #letter-table {
        width: 100%
    }
</style>

<p>
    Please use the code provided to translate the random strings into the corresponding numerical code. You have 3
    minutes to complete as many encodings as you choose. For every correct encoding you submit, you will earn 30 tokens.
    There is no penalty for incorrect submissions.
</p>
<img src="{% static 'img/table.jpg' %}" id = "letter-table"/>
<br>
<br>

<table style="width:100%">
  <tr>
    <td><b>{{letter1}}:</b> {% formfield player.input1 label=""%}</td>
    <td><b>{{letter2}}:</b> {% formfield player.input2 label=""%}</td>
    <td><b>{{letter3}}:</b> {% formfield player.input3 label=""%}</td>
  </tr>
</table>

{% next_button %}

{% endblock %}
