{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 1
{% endblock %}

{% block content %}

<style>
    #letter-table {
        width: 100%
    }
</style>

<p>
    Please use the code provided to translate the random strings into the corresponding numerical code. You have 5
    minutes to complete as many encodings as you choose. For every correct encoding you submit, you will earn £0.10.
</p>
<img src="{% static 'img/table.jpg' %}" id = "letter-table"/>
<br>
<br>

<table style="width:100%">
  <tr>
    <td><b>{{letter1}}:</b> {% formfield player.input1 label=""%}</td>
    <td><b>{{letter2}}:</b> {% formfield player.input2 label=""%}</td>
    <td><b>{{letter3}}:</b> {% formfield player.input3 label=""%}</td>
    <td><b>{{letter4}}:</b> {% formfield player.input4 label=""%}</td>
    <td><b>{{letter5}}:</b> {% formfield player.input5 label=""%}</td>
  </tr>
</table>

{% next_button %}
<br>
<br>
<table>
    <tr>
        <td><b>Wage:</b></td>
        <td>£{{wage}}</td>
    </tr>
    <tr>
        <td><b>Correct:</b></td>
        <td>{{correct}}</td>
    </tr>
    <tr>
        <td><b>Incorrect:</b></td>
        <td>{{incorrect}}</td>
    </tr>
    <tr>
        <td><b>Earnings:</b></td>
        <td>£{{earnings}}</td>
    </tr>
</table>

{% endblock %}
