{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome to the study!
{% endblock %}

{% block content %}

<p>
    Welcome to this study, funded by the University of Auckland, New Zealand.
</p>
<p>
    The entire study should take no longer than <b>45 minutes</b>. Please make sure that you have that time at your disposal.
</p>
<p>
    The study is designed to understand how people make allocation decisions in a group setting. You must be at least 18 years old
    to participate in this study. All you have to do during the study is enter numbers using your computer keyboard.
</p>
<ul>
    <li>Your responses will be kept anonymous and confidential.</li>
    <li>You will be paid a <b>guaranteed £5.00</b> for your participation upon completing the study. Depending on your decisions
    and the decisions made by others in the study, you will also earn an additional <b>bonus amount</b>. On average, this
    bonus amount will add up to about <b>another £5.00</b> for a total of about <b>£10.00</b>.</li>
    <li>Your participation is completely voluntary and you can withdraw at any time during the session. However, if you withdraw,
    you will not receive any payments from the study and will reduce the payments of other study participants.</li>
    <li>If you have any questions about this study, then you can email Principal Investigator Ananish Chaudhuri
    (a.chaudhuri@auckland.ac.nz).</li>
</ul>
<p>
    <b>
        Please participate in the study only if you have 45 minutes available, and you intend to complete the entire study immediately.
    </b>
</p>

{% formfield player.takePart %}

{% next_button %}

{% endblock %}
