{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome to the study!
{% endblock %}

{% block content %}

<p>
    Welcome! You are now taking part in a decision-making experiment. You will receive additional bonus earnings in the
    experiment. The bonus will depend on your decisions and the decisions of other participants. Your bonus earnings
    will be calculated in tokens, will will be converted to Pounds at the following rate:
</p>
<p>
    <b>300 tokens = £1</b>
</p>
<p>
    During the experiment, please do not communicate with others.
</p>
<p>
    This experiment consists of <b>two parts</b>. The instructions for Part 1 are given on the next screen. You will
    receive additional instructions for Part 2 after Part 1 is over.
</p>

{% next_button %}

{% endblock %}
