{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 2 - Comprehension Questions
{% endblock %}

{% block content %}

<p>
    We will now ask you some questions to make sure you understand the game. Feel free to use a calculator if you would like.
</p>
<p>
    Suppose that each of the four group members has 50 tokens. The fine rate chosen by the majority is 80%.
</p>
<p>
    You decide to keep 30 tokens in your private account and allocate 20 tokens to the group account. The other three group
    members allocate an <i>additional</i> 120 tokens to the group account.
</p>

{% formfields %}

{% next_button %}

{% endblock %}
