{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 2 - Instructions
{% endblock %}

{% block content %}
<p>
    <b><u>Summary of earnings from a decision round</u></b>
</p>
<p>
    If the fine rate is 0%:
</p>
<p>
    <i>Earnings = Tokens you get back from the group account + Tokens in your private account</i>
</p>
<p>
    If the fine rate is 30%, 60%, or 80%:
</p>
<p>
    <i>Earnings = Tokens you get back from the group account + (Tokens in your private account - Fine - Fixed fee of 4 tokens)</i>
</p>

{% next_button %}

{% endblock %}
