{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 2 - Instructions
{% endblock %}

{% block content %}

<p>
    This is the main part of the study. In this Part, you will play an economic decision-making game over a number of rounds.
</p>
<p>
    Before we get to the actual game, we will explain how the game works and get you to play a practice round.
</p>
<p>
    <b><u>The game</u></b>
</p>
<ul>
    <li>In this game, you will be anonymously placed in a <b>group of four</b> with <b>three other real participants</b>.</li>
    <li>In each round of the game, each group member will be given some tokens. This is the <b>token endowment</b>.</li>
    <li>Each group member will simultaneously decide how many of these tokens to allocate to the <b>group account</b>. Any
    tokens not allocated to the group account will remain in the group member's <b>private account</b>.</li>
    <li>Tokens allocated to the group account will be <b>doubled</b> and then <b>redistributed equally</b> among <b>all</b>
    four group members.</li>
    <li>Every group member gets back the same amount from the group account.</li>
</ul>

{% next_button %}

{% endblock %}
