{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 2 - Instructions
{% endblock %}

{% block content %}

<p>
    <u><b>Example</b></u>
</p>
<p>
    Suppose you have been anonymously placed in a group of four. Every group member is given a token endowment of 50 tokens.
</p>
<p>
    You keep 10 tokens in your private account and allocate 40 tokens to the group account.
</p>
<p>
    The other three group members allocate an additional 60 tokens to the group account, taking the total in the group
    account to 100 tokens.
</p>
<p>
    This is doubled to 200 tokens and redistributed equally among the four group members.
</p>
<p>
    Each member gets back 50 tokens from the group account.
</p>
<p>
    At the end of the round, you have 60 tokens; the 10 tokens you kept plus the 50 tokens you got back from the group account.
</p>

{% next_button %}

{% endblock %}
