{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 2 - Practice Round Results
{% endblock %}

{% block content %}

<ul>
    <li>Tokens in private account: <b>{{kept}}</b></li>
    <li>Total tokens in group account: <b>{{total}}</b></li>
    <li>Tokens you got back from the group account: <b>{{back}}</b></li>
</ul>
<p>
    <i>Earnings for this round = {{back}} from group account + {{kept}} kept in private account = <b>{{earn}}</b></i>
</p>

{% next_button %}

{% endblock %}
