{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 2 - Start the Game!
{% endblock %}

{% block content %}

<p>
    We are now ready to start the actual game, in which you can earn real money.
</p>
<p>
    <b>There will be 10 rounds of this game.</b> You will earn bonus payments in each of the 10 rounds.
</p>
<p>
    You will be anonymously put in a <b>group of four</b> with three other <b>real participants</b>. You all received
    the same instructions and information.
</p>
<p>
    You will find out your <b>token endowment</b> after you are matched with other participants. The token endowment for
    each participant will remain unchanged for the entire game.
</p>
<p>
    In each round of the game, you will vote for a fine rate and allocate to the group account.
</p>
<br>
<p>
    <b>IMPORTANT NOTE:</b>
</p>
<ul>
    <li>In any round, if you do not enter your decisions within the stipulated time (45 seconds), then your vote will be
    set to 0% and your entire endowment will be allocated to the group account.</li>
    <li>If you fail to enter your decision for two rounds in a row, then the game will end for you and for the other
        three participants in your group.</li>
    <li>This will mean that you will earn a smaller bonus payment. Your group members will also earn a smaller bonus
    payment.</li>
    <li>To avoid this, please pay attention and engage with the game.</li>
</ul>
<p>
    <b>Are you ready to proceed?</b>
</p>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">Yes, take me to the game</button>

{% endblock %}
