{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 2 - Round {{player.round_number}} - Allocate
{% endblock %}

{% block content %}

<p>
    You have a token endowment of {{endowment}}. The majority of the group voted for a fine rate of <b>{{group.fine_rate}}</b>.
</p>

{% formfields %}

<p>
    The tokens you keep in the private account will be subject to the fine rate chosen by the majority.
</p>
<p>
    <i>NOTE: If you do not make your decision within the time limit, then your
        entire token endowment will be allocated to the group account.</i>
</p>

{% next_button %}

{% endblock %}
