{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 2 - Kicked Out of Game!
{% endblock %}

{% block content %}

<p>
    Unfortunately, you were kicked out of the game because one or more of the participants in your group were
    responding too slowly. We saved your earnings up to the point were you were kicked out of the game.
</p>
<p>You encoded {{encoded}} words correctly in Part 1 and earned {{part1earn}} in Part 1.</p>
<p>You earned {{part2earn}} in Part 2.</p>
<p>This means you will receive <b>{{pounds}}</b> as the bonus payment.</p>

{% next_button %}

{% endblock %}
