{% extends 'otree/WaitPage.html' %}
{% load otree %}
{% block title %}Matching you with other real participants... please wait!{% endblock %}
{% block content %}
    <p>
        <b>Please wait for matching.</b> We will pay you £0.05 for every minute you spend waiting to be matched (max £0.50).
    </p>
    <p>
        You may see this screen for a long time - this is normal! You shouldn't have to wait too long.
        If we cannot find participants to match you with after ten minutes, we will skip Part 2 and allow you to
        finish the study alone.
    </p>
    <p>
        Please be ready to begin the game <b>immediately</b> once you are matched.
    </p>
{% endblock %}
