{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 2 - Skipped Game
{% endblock %}

{% block content %}

<p>We are sorry that we were not able to find enough people to match you with. Thank you for your patience.</p>
<p>You encoded {{encoded}} words correctly in Part 1 and earned {{part1earn}} in Part 1.</p>
<p>You also earned {{ waitEarn }} for waiting to be matched.</p>
<p>
    This means you will receive <b>{{bonus}}</b> as the bonus payment in this study,
    resulting in a total overall payment of <b>{{total}}</b>.
</p>

{% next_button %}

{% endblock %}
