{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 3 - Exit survey
{% endblock %}

{% block content %}

<p>
    <b>
        Before completing the study, please answer a few demographic questions and questions about the game.
        You do not have to answer the demographic questions if you would prefer not to.
    </b>
</p>

{% formfield player.gender %}
{% formfield player.age %}
{% formfield player.ethnicity %}
{% formfield player.employed %}
{% formfield player.married %}
{% formfield player.religious %}
{% formfield player.education %}
{% formfield player.income %}
{% formfield player.fair %}
{% formfield player.manipulation %}

{% next_button %}

{% endblock %}
