{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Thank you!
{% endblock %}

{% block content %}

<p>
    This is the end of the study.
</p>
<p>
    Thank you for your participation.
</p>
<p>
    You will receive £5 soon for your participation. Any additional bonus payment will be paid to you within 72 hours
    once we have finished calculating the payment to all the participants.
</p>
<p>
    Please click here to finish the study and return to Prolific:
    <a href="https://app.prolific.co/submissions/complete?cc=3DD7D899">https://app.prolific.co/submissions/complete?cc=3DD7D899</a>
</p>

{% endblock %}
